.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    margin: 0 !important;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-weight: 500;
    font-size: larger;
    
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor:pointer;
    color:#003580;
}
.navuser{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    
}

.logoutBtn{
    margin-left: 15px;
    border: none;
    padding: 5px 10px;
    cursor:pointer;
    color:#003580;
}


.logoutBtn:disabled{
background-color: #0071c28c;
cursor: not-allowed;
}